<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="Probabilty">
      <directory suffix="Test.php">Probability</directory>
    </testsuite>
    <testsuite name="Statistics">
      <directory suffix="Test.php">Statistics</directory>
    </testsuite>
    <testsuite name="Functions">
      <directory suffix="Test.php">Functions</directory>
    </testsuite>
    <testsuite name="Algebra">
      <directory suffix="Test.php">Algebra</directory>
    </testsuite>
    <testsuite name="LinearAlgebra">
      <directory suffix="Test.php">LinearAlgebra</directory>
    </testsuite>
  </testsuites>
</phpunit>